$primary-color-green: #73A580;
$primary-color-blue: #30D5C8;
$primary-color-dark: #3E363F;

$primary-font: 'Oswald', sans-serif;
$secondary-font: Arial, Helvetica, sans-serif;



@mixin center-element {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: calc(100vh + 20px); 

  }
  
  header {
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .logo {
        font-size: 24px;
        font-weight: bold;
      }

  }
  
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    #security-form, #password-form {
        margin-top: 5%;
      }
  }

  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px;

    label {
        margin-bottom: 5px;
      }
  }
  

  
  input,
  select {
    margin-bottom: 20px;
    padding: 8px;
    font-size: 14px;
    width: 100%;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #005fa3;
  }
  
  .hidden {
    display: none;
  }