$primary-color-green: #73A580;
$primary-color-blue: #30D5C8;
$primary-color-dark: #3E363F;

$primary-font: 'Oswald', sans-serif;
$secondary-font: Arial, Helvetica, sans-serif;



@mixin center-element {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: calc(100vh + 20px); 

  }
  
  header {
    padding: 30px;
    background-color: $primary-color-green;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


      .logo{
        color: white;
        font-size: 33px;
        font-family: $primary-font;
        font-weight: bold; 
        cursor: pointer;
        transition: 0.3s;
        width: fit-content;

        &:hover {
            font-size: 38px;       
        }
    }

  }
  
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;


    #message{
      color: #990000;
      font-weight: bolder;
      font-size: 20px;
      font-family: $secondary-font;
    }
    #security-form{
      margin-top: 3%;
  
    }
    #password-form{
      margin-top: 10%;
    }
  
 
  }



  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px;

    label {
        margin-bottom: 5px;
        display: block;
        text-align: left;
        font-size:17px;
        font-family: $secondary-font;
        font-weight: bold;
        color: $primary-color-dark;
      }
      input,
      select {
        padding: 10px;
        margin-bottom: 30px;
        border: 1px solid #bfbfbf;
        border-radius: 5px;
        font-size: 14px;
        width: 100%;
      }



      button {
        padding: 10px;
        font-size: 16px;
        color: #fff;
        border: none;
        border-radius: 13px;
        background-color: $primary-color-green;
        cursor: pointer;
        width:fit-content;
        display: inline-block;
        margin: 0 auto;
        padding: 15px 20px;
        transition: 0.3s;
    
        &:hover {
          background-color: #5a8c67;
        }
    
      }


  }
  
  
  .hidden {
    display: none;
  }

