* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Oswald', sans-serif;
    background-image: url("../../resources/Background6.jpg");
    background-size: cover;
    min-height: calc(100vh + 20px);
  }
  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:rgba(0,0,0,0.4);
    color: #ffffff;
    position: relative;
  }
  
  .logo {
    cursor: pointer;
    margin-left: 1%;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    width: -moz-fit-content;
    width: fit-content;
    flex-grow: 1;
    transition: 0.3s;
  }

  .logo:hover {
    font-size: 38px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    min-height: calc(100vh - 110px);
    justify-content: center;
  }
  
  
  .go-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #30d5c8;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
    display: none;
  }

  .go-top:hover {
    opacity: 1;
    color: #333;
  }


  .search-bar {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px; /* Add margin bottom to create space between search bar and buttons */
    border-radius: 10px; /* Add border-radius for rounded corners */
    overflow: hidden; /* Hide overflow to prevent button overflow */
  }
  
  #searchInput {
    font-family: 'Oswald', sans-serif;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: none; /* Remove border */
    border-radius: 10px; /* Add border-radius for rounded corners */
    outline: none; /* Remove outline */
  }
  
  #searchResults {
    font-family: 'Oswald', sans-serif;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 50px auto;
    max-width: 800px;
  }

#searchResults .user {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    }

  #searchResults .user:hover {
    background-color: rgba(48, 213, 200, 0.8);
    color: #333;
  }
  
  .search-buttons {
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .search-buttons button {
    margin: 0 5px;
    padding: 8px 15px;
    font-size: 14px;
    background-color: #30d5c8;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border-radius: 10px; /* Add border-radius for rounded corners */
  }
  
  .search-buttons button:hover {
    opacity: 0.8;
    background-color: #00fc54;
    color: black;
  }


  .delete-button, .admin-button, .verifyButton, .rejectButton {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #30d5c8; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  #addInmateButton {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Optional: Adds some spacing between the search results and the button */
  }
  
  .addInmate-button {
    font-family: 'Oswald', sans-serif;
    padding: 5px 10px;
    background-color: #30d5c8; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .delete-button:hover, .rejectButton:hover {
    color: #333;
    background-color: #ff0000; 
  }
  
  .admin-button:hover, .verifyButton:hover {
    color: #333;
    background-color: #00ff37; 
  }

  .visits-list {
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    opacity: 0.9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    list-style-type: none;
    margin-top: 10px;
  }
  .visits-list li {
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    justify-content: space-between;
  }
  .visits-list li:last-child {
    border-bottom: none;
  }
  
  
  @media (max-width: 767px) {
    header {
      flex-direction: column;
    }
    .logo {
      width: 100%;
      text-align: center;
    }

    .logo {
      order: 1;
      font-size: 25px;
    }
  }
  @media screen and (max-width: 350px) {
    header {
      flex-direction: column;
    }
    .logo {
      width: 100%;
      text-align: center;
    }
    .logo {
      order: 1;
      font-size: 22px;
    }

  }
  