@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

  body {
    background-color: #3E363F;
    color: #73A580;
    font-family: 'Oswald', sans-serif;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
			margin: auto;
			padding: 10px;
  }

  header {
    font-family: 'Oswald', sans-serif;
    background-color:rgba(0,0,0,0.4);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  header h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }

.titlu {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

.titlu:hover {
  background-color: #30d5c8;
  color: #333;
  border-radius: 10px;
}

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  nav ul li a:hover {
    background-color: #30d5c8;
    color: #333;
    border-radius: 10px;
  }
  
  section {
    margin: 4rem 0;
  }
  
  h1, h2 {
    margin: 0;
  }
  .image-container {
    flex-basis: 25%;
    background-image: url("../resources/Background6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 0;
		flex-shrink: 0;
    background-position: left;
    height: 100%;
  }
  .title{
    font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #73A580;
  padding: 0.5rem;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
  }
  .option{
    color:#30D5C8;
  }
  
  input[type="text"] {
    background-color: #ffffff;
  }
  input[type="number"] {
    background-color: #ffffff;
  }
  input[type="datetime-local"] {
    background-color: #ffffff;
  }  
  .temp{
    color:#30D5C8;
  }

  .form-container{
    flex-basis: 27%;
    max-width: 500px;
    margin: 2rem auto;
    border:2px solid #30D5C8;
    padding: 3rem;
    background-color: #3E363F;
    display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
    border-radius: 5px;
  }
  form#formular-inregistrare-detinut {
    display: flex;
    flex-basis: 27%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 0.1rem;
    max-width: 500px;
    border: 2px solid #30D5C8;
    padding: 3rem;
    background-color: #3E363F;
    border-radius: 5px;
  }
  
  

    .right-image-container {
			flex-basis: 27%;
			background-image: url("../resources/Background6.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: right;
			height: 100%;
		}

    label {
        display: inline;
        padding:1rem 0 .25rem;
        font-size: 14px;
        
    }
    .form-container input[type="submit"]:hover {
			background-color: #45a049;
		}
    .form-container input[type="submit"] {
      font-family: 'Oswald', sans-serif;
			width: 100%;
			background-color: #4CAF50;
			color: #fff;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			font-size: 16px;
		}
    @media screen and (max-width: 768px) {
      .title {
        font-size: 1.5rem;
        line-height: 1.2;
      }
    }
    
    @media screen and (max-width: 480px) {
      .title {
        font-size: 1rem;
        line-height: 1.2;
      }
    }
    @media (min-width: 768px) {
      .image-container {
        flex-basis: 25%;
        height: 100%;
      }
    
      .right-image-container {
        flex-basis: 27%;
        height: 100%;
      }
    }

